/* Login styles */

@bg: #dddddd;

.admin-login {
	width: 20em; height: 7em; margin: auto; position: absolute; top: 0; left: 0; bottom: 0; right: 0; font-size: large;
	label {width: 20%; float: left; clear: both; margin: 0.25em; text-align: right;}
	input {width: 70%; float: right; margin: 0.25em;}
}

/* End login styles */

/* Menu bar styles */

h1 {float: left; margin: 4px 0 0 10px; font-size: 14pt;}
a#logout-link, span#id-span {display: block; float: right; margin: 4px 10px 0 0;}
ul#admin-menu {
	margin: 0 0 0 0; height: 1.7em; padding: 0; background: @bg;
	& > li {float: left; width: 100px; margin: 0; position: relative; z-index: 9; white-space: nowrap;}
	span.ui-menu-icon {margin: 0.8em 0 0 0;}
}

/* End menu bar styles */

p.error-message {background: #ffdddd; border: dashed 2px #ff0000; padding: 10px; margin: 0 0 10px 250px;}
p.success-message {background: #ddffdd; border: dashed 2px #00ff00; padding: 10px; margin: 0 0 10px 250px;}
p.info-message {background: #ddddff; border: dashed 2px #0000ff; padding: 10px; margin: 0 0 10px 250px;}

div#admin-tabs {
	float: left; background: @bg;
	& > div {}
}
table.admin-model-list {
	thead td{text-align: center; font-weight: bold;}
	tr:nth-child(even) {background: @bg;}
}
div#dialog-confirm {font-size: small; display: none;}

a.admin-list-button {font-size: small; margin: 0; padding: 0; width: 75px;}
td.button-cell {width: 75px;}
.owner-field-list select, .owner-field-list a, .owner-field-list span{display: block; float: left;}

.admin-edit {
	label {float: left; width: 10%; clear: both; text-align: right; padding-right: 16px; margin-bottom: 32px;}
	input {
		float: left; width: 50%;
		&.checkbox {width: auto;}
	}
	select {float: left;}
	a.file-link {float: left;}
	div.model-input {width: 80%;}
	textarea, span.mceEditor {display: block; float: left; height: 20em; width: 78%;}
	span.mceEditor {margin-bottom: 40px;}
	textarea {margin-bottom: 32px;}
	.model-save {margin-top: 30px; width: 200px; clear: both;}
}
.admin-return {clear: both; text-align: center;}

.ui-tabs-vertical {
	float: left; width: 85%;
	.ui-tabs-nav {
		padding: .2em .1em .2em .2em; float: left; width: 10%;
		li {
			clear: left; width: 100%; border-bottom-width: 1px !important; border-right-width: 0 !important; margin: 0 -1px .2em 0;
			&.ui-tabs-active { padding-bottom: 0; padding-right: .1em; border-right-width: 1px; border-right-width: 1px; }
			a { display:block; }
		}
	}
	.ui-tabs-panel { padding: 1em; float: left; width: 85%;}
}
