* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 -mox-box-sizing: border-box;
 font-family: Arial, Helvetica, sans-serif;
 font-size: 16px;
 line-height: 24px;
 vertical-align: top;
 color: #000000;
 min-height: 24px;
 border: none;
 border-width: 0;
 border-image-width: 0;
 border-spacing: 0;
}
ul,
ol {
 display: block;
 list-style-type: none;
}
select {
 height: 24px;
}
button {
 display: block;
 background: #dddddd;
 background: #999999;
}
.rowPadding {
 padding: 4px;
}
.buffered {
 padding-top: 8px;
 padding-bottom: 8px;
}
.outerShadow {
 box-shadow: 0 0 5px #000000;
}
.admin-login {
 width: 20em;
 height: 7em;
 margin: auto;
 position: absolute;
 top: 0;
 left: 0;
 bottom: 0;
 right: 0;
 font-size: large;
}
.admin-login label {
 width: 20%;
 float: left;
 clear: both;
 margin: 0.25em;
 text-align: right;
}
.admin-login input {
 width: 70%;
 float: right;
 margin: 0.25em;
}
div#main-header {
 margin: 0 0.061919504643963% 0 0;
 display: block;
 float: left;
 width: 100%;
 height: 32px;
 background-color: #999999;
 border-bottom: solid 1px #dddddd;
}
div#main-header h1 {
 margin: 0 0.061919504643963% 0 0;
 display: block;
 float: left;
 width: 18.699690402477%;
 height: 32px;
 padding: 4px;
}
div#main-header h1 a {
 text-decoration: none;
}
div#main-header a#logout-link {
 margin: 0 0.061919504643963% 0 0;
 display: block;
 float: left;
 width: 6.1919504643963%;
 float: right;
 margin: 0 0 0 0.061919504643963%;
 height: 32px;
 padding: 4px;
}
div#main-header span#id-span {
 margin: 0 0.061919504643963% 0 0;
 display: block;
 float: left;
 width: 12.445820433437%;
 float: right;
 margin: 0 0 0 0.061919504643963%;
 height: 32px;
 padding: 4px;
}
ul#admin-menu {
 clear: both;
 margin: 0 0.061919504643963% 0 0;
 display: block;
 float: left;
 width: 100%;
 height: 32px;
 background: #aaaaaa;
}
ul#admin-menu > li {
 margin: 0 0.061919504643963% 0 0;
 display: block;
 float: left;
 width: 6.1919504643963%;
 height: 32px;
 padding: 4px;
 position: relative;
 z-index: 9;
 white-space: nowrap;
 background: #999999;
}
ul#admin-menu > li:hover {
 background: #dddddd;
}
ul#admin-menu > li a {
 text-decoration: none;
 display: block;
 width: 100%;
}
ul#admin-menu > li ul {
 background: #aaaaaa;
 position: absolute;
 min-width: 200px;
 box-shadow: 0 0 5px #000000;
}
ul#admin-menu > li ul li {
 height: 32px;
 padding: 4px;
}
ul#admin-menu > li ul li:hover {
 background: #dddddd;
}
ul#admin-menu span.ui-menu-icon {
 margin: 0.8em 0 0 0;
}
p.error-message {
 background: #ffdddd;
 border: dashed 2px #ff0000;
 padding: 10px;
 margin: 0 0 10px 250px;
}
p.success-message {
 background: #ddffdd;
 border: dashed 2px #00ff00;
 padding: 10px;
 margin: 0 0 10px 250px;
}
p.info-message {
 background: #ddddff;
 border: dashed 2px #0000ff;
 padding: 10px;
 margin: 0 0 10px 250px;
}
div#admin-tabs {
 float: left;
 background: #aaaaaa;
}
table.admin-model-list thead td {
 text-align: center;
 font-weight: bold;
}
table.admin-model-list tr:nth-child(even) {
 background: #aaaaaa;
}
div#dialog-confirm {
 font-size: small;
 display: none;
}
a.admin-list-button {
 font-size: small;
 margin: 0;
 padding: 0;
 width: 75px;
}
td.button-cell {
 width: 75px;
}
.owner-field-list select,
.owner-field-list a,
.owner-field-list span {
 display: block;
 float: left;
}
.admin-edit label {
 float: left;
 width: 10%;
 clear: both;
 text-align: right;
 padding-right: 16px;
 margin-bottom: 32px;
}
.admin-edit input {
 float: left;
 width: 50%;
}
.admin-edit input.checkbox {
 width: auto;
}
.admin-edit select {
 float: left;
}
.admin-edit a.file-link {
 float: left;
}
.admin-edit div.model-input {
 width: 80%;
}
.admin-edit textarea,
.admin-edit span.mceEditor {
 display: block;
 float: left;
 height: 20em;
 width: 78%;
}
.admin-edit span.mceEditor {
 margin-bottom: 40px;
}
.admin-edit textarea {
 margin-bottom: 32px;
}
.admin-edit .model-save {
 margin-top: 30px;
 width: 200px;
 clear: both;
}
.admin-return {
 clear: both;
 text-align: center;
}
.ui-tabs-vertical {
 float: left;
 width: 85%;
}
.ui-tabs-vertical .ui-tabs-nav {
 padding: .2em .1em .2em .2em;
 float: left;
 width: 10%;
}
.ui-tabs-vertical .ui-tabs-nav li {
 clear: left;
 width: 100%;
 border-bottom-width: 1px !important;
 border-right-width: 0 !important;
 margin: 0 -1px .2em 0;
}
.ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active {
 padding-bottom: 0;
 padding-right: .1em;
 border-right-width: 1px;
}
.ui-tabs-vertical .ui-tabs-nav li a {
 display: block;
}
.ui-tabs-vertical .ui-tabs-panel {
 padding: 1em;
 float: left;
 width: 85%;
}
